@model Task_3.Models.VM_VehicleUpload


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
</head>
<body>
    <p>
        <h2>Faulty registrations: @Model.InvalidRegCount</h2> 
    </p>
    <p>
        go back to the home page to download the data.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Reg
                </th>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Colour
                </th>
                <th>
                    Fuel
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vehicles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fuel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

